@charset "UTF-8";

nav {
	margin:7% 0 7% 0;
}
 
 
 
.project-description {
	text-transform:uppercase;
}

a:link {
	color:black;
}

a:hover {
	color:blue;
}

a:visited {
	color:black;
}

.logo {
	height:5rem;
	width:5rem;
	
}

 
 
 .icons ul {
	  
	 margin-top:6rem;
 }
 
 .icons ul li {
	 display:inline-block;
	 margin-right:4%;
 }
 
 .icons ul li:last-child {
	 
	 margin-right:0;
 }
 
  h1 {
	 margin:5rem 0 .4rem 0;
	 font-size:2.5rem; 
	 text-transform:uppercase;
	 font-weight:800;
  }
  
  h2 {
	margin:-.3rem 0 3.5rem 0; 
	text-transform:uppercase; 
	font-size:1.7rem;
	font-weight:200;
  }
  
  .description {
	  margin:1.7rem 0 0 0;
	  font-weight:200;
  }
  
  .arrows p {
	  font-size:2rem;
	  font-weight:300;
  }
  
  nav ul li {
	  font-size:1.6rem;
  }
  
  .biglucid {
	  height:59%;
	  width:59%;
	  margin-left:8rem;
  }
  
  .universe-description {
	  margin-bottom:32%;
  }
  
  .oldspice-description {
	  margin-top:1.5rem;
  }
  
  /* ////////////////////////////////////////////////////////////////////////////////SCREEN SIZE VARIANTS */

@media only screen and (max-width: 40rem) {
    .logo {
		height:5rem;
		width:5rem;
		margin-top:3rem;
		margin-bottom:2rem;
		font-size:1rem;
	}
	 nav ul li{
		display:block;
		margin-bottom:.7rem;
		margin-right:0;
		font-size:1rem;
	}
}

@media only screen and (max-width: 64.063rem) {
    
	
	.logo {
		height:5rem;
		width:5rem;
		margin-bottom:3rem;
	}
}

@media only screen and (min-width: 40.063rem) {
    nav ul li{
		display:block;
		margin-bottom:.7rem;
		margin-right:0;
		font-size:1.3rem;
	}
}

@media only screen and (min-width: 64.063rem) {
    .logo {
		height:5rem;
		width:5rem;
		margin-top:-4rem;
	}
	nav ul li{
		display:inline;
		margin-bottom:.7rem;
		margin-right:2rem;
		font-size:1.6rem;
	}
	
	nav ul li:last-child {
		margin-right:0;
	}
	
	nav ul {
		margin-left:-5rem;
	}
}