@charset "UTF-8";

nav {
	margin:10% 0 0 0;
}
 
 .underline {
	 border-bottom: 3px solid #000;
	 padding-bottom: -5px;
 }
 
.project-description {
	text-transform:uppercase;
}

a:link {
	color:black;
}

a:hover {
	color:blue;
}

a:visited {
	color:black;
}

.logo {
	height:5rem;
	width:5rem;
	
}

 .facebook {
	 height:50px;
	 width:50px;
	 background-color:#A7A7A7;
 }
 
 .instagram {
	 height:50px;
	 width:50px;
	 background-color:#A7A7A7;
 }
 
 .twitter {
	 height:50px;
	 width:50px;
	 background-color:#A7A7A7;
 }
 
 .icons ul {
	 margin-left:40%; 
	 margin-top:100px;
 }
 
 .icons ul li {
	 display:inline-block;
	 margin-right:20px;
 }
  h1 {
	 margin:5rem 0 0 5rem;
	 font-size:5rem; 
  }
  
  h2 {
	margin:0 0 0 5rem;  
  }
  
  /* ////////////////////////////////////////////////////////////////////////////////SCREEN SIZE VARIANTS */

@media only screen and (max-width: 40rem) {
    .logo {
		height:5rem;
		width:5rem;
		margin-bottom:3rem;
	}
}

@media only screen and (max-width: 64.063rem) {
    nav ul li{
		display:block;
		margin-bottom:.7rem;
	}
	
	.logo {
		height:5rem;
		width:5rem;
		margin-bottom:3rem;
	}
}

@media only screen and (min-width: 40.063rem) {
    
}

@media only screen and (min-width: 64.063rem) {
    .logo {
		height:5rem;
		width:5rem;
		margin-top:-4rem;
	}
}