@charset "UTF-8";

nav {
	margin:5% 0 0 0;
}
 

a:link {
	color:black;
}

a:hover {
	color:blue;
}

a:visited {
	color:black;
}

.logo {
	height:5rem;
	width:5rem;
	margin-left:1%;
	margin-right:3%;
}

 .facebook {
	 height:50px;
	 width:50px;
	 background-color:#A7A7A7;
 }
 
 .instagram {
	 height:50px;
	 width:50px;
	 background-color:#A7A7A7;
 }
 
 .twitter {
	 height:50px;
	 width:50px;
	 background-color:#A7A7A7;
 }
 
 .icons ul {
	 margin-left:40%; 
	 margin-top:100px;
 }
 
 .icons ul li {
	 display:inline-block;
	 margin-right:20px;
 }
  h1 {
	 margin:5rem 0 0 5rem;
	 font-size:5rem; 
  }
  
  h2 {
	margin:0 0 0 5rem;  
  }
  
  /* ////////////////////////////////////////////////////////////////////////////////SCREEN SIZE VARIANTS */

@media only screen and (max-width: 40rem) {
    .logo {
		height:5rem;
	width:5rem;
	}
}

@media only screen and (max-width: 64.063rem) {
    nav ul li{
		display:block;
	}
	
}

@media only screen and (min-width: 40.063rem) {
    
}

@media only screen and (min-width: 64.063rem) {
    
}