@charset "UTF-8";
/* CSS Document */

		

		
.hero {
	height:100%;
	width:100%;
}

.nav {
	margin-top:-5.5%;
	}

nav li {
	display:inline;
	margin-right:3rem;
	color:white;
	text-transform:uppercase;
	font-size:2rem;
	font-weight:700;
	letter-spacing:4.8px;
}

a:link {
	color:white;
}

a:hover {
	color:blue;
}

a:visited {
	color:white;
}

.design-nav a:link {
	color:black;
}

.design-nav a:hover {
	color:blue;
}

.design-nav a:visited {
	color:black;
}



.portfolio {
	margin-top:5%;
}

.img-1 {
	background-color:gray;
	height:300px;
}

.img-2 {
	background-color:gray;
	height:300px;
}

.img-3 {
	background-color:gray;
	height:300px;
}

.port-margin {
	margin-top:50px;
}
 
.lg-product {
	height:500px;
	width:100%;
	background-color:#A1A1A1;
}

.sm-product {
	height:300px;
	width:100%;
	background-color:#A1A1A1;
}

.ppmargin {
	margin:-3rem 0 0 0;
}

.selfie {
	margin:5rem 0 0 0;
	height:20rem;
	/*background-color:gray;*/
	
}

.bio {
	margin:5rem 0 0 0;
}

.preview {
	margin-top:2rem;
}



.tk-brandon-grotesque {
	font-weight:900;
}

/*nav ul li a:hover { 
cursor:progress; 
}*/

* {
	cursor: none;
}
figure#mouse-pointer {
	background: url('../img/rocknroll.png') no-repeat;
	width: 12rem;
	height: 12rem;
	position: absolute;
	margin: -140px 0 0 -140px;
	display: block;
	z-index: 0;
}

figure#mouse-pointer a:hover {
	background: url('../img/rocknrollbig.png') no-repeat;
	width: 12rem;
	height: 12rem;
	position: absolute;
	margin: -140px 0 0 -140px;
	display: block;
	z-index: 0;
}

@media only screen and (max-width: 64.0625em) {
	nav li {
	display:inline;
	margin-right:3rem;
	color:white;
	text-transform:uppercase;
	font-size:1.75rem;
	font-weight:700;
	
}
}

@media only screen and (max-width: 40.0625em) {
	nav li {
	display:inline;
	margin-right:3rem;
	color:white;
	text-transform:uppercase;
	font-size:1.2rem;
	font-weight:700;
	
}
}