@charset  "UTF-8";

/* CSS Document */
.wrapper {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.nav {
    margin: 0;
    position: fixed;
    bottom: 0;
}

nav li {
    display: inline;
    margin-right: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 7px;
}

a:visited {
    color: #fff;
}

.row .bio p {
    margin: -.5rem 0 0;
    font-weight: 300;
}

.preview {
    margin-top: 2rem;
}

.underline {
    border-bottom: 3px solid #000;
}

.tk-brandon-grotesque {
    font-family: "brandon-grotesque",sans-serif !important;
}

.not-3d {
	font-size: 1rem !important;
	text-transform: uppercase !important;
	letter-spacing: 3px;
}

.icon {
    height: 3.7rem;
    width: 3.7rem;
    margin: 7rem 0 0;
}

* {
}

a:hover {
    cursor: url(../img/rocknroll.png),default !important;
    color: #D7D7D7 !important;
}

.gold {
	color:#B19B51;
	text-transform:uppercase;
}

.silver {
	color:#B5B5B5;
	text-transform:uppercase;
}


#white {
    color: #fff;
}

#white-two {
    color: #fff;
}

#white-three {
    color: #fff;
}

@media only screen and (max-width: 64.0625em) {
    nav li {
        display: inline;
        margin: 0 3rem 1rem 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
    }

    nav li:last-child {
        margin-right: 0;
    }

    .underline {
        border-bottom: 2px solid #000;
    }

    .row .bio p {
        margin: 5rem 0 0;
        font-weight: 300;
    }

    nav ul {
        margin: 0 0 2rem !important;
    }
}

@media only screen and (max-width: 50em) {
    nav li {
        margin: 0 1rem 1rem 0;
    }
}

@media only screen and (max-width: 40.0625em) {
    nav li {
        display: block;
        margin-right: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .nav {
        bottom: 3rem;
    }

    .underline {
        border-bottom: 2px solid #000;
    }

    .row .bio p {
        margin: 3rem 0 0;
        font-weight: 300;
    }

    .nav {
        bottom: 0;
    }

    nav ul {
        margin-bottom: -1rem;
    }
}