@charset "UTF-8";
/* CSS Document */

.hero {
	position:relative;
	width:100%;
}

.nav {
	margin-top:-48%;
	margin-left:23%;
	}

nav li {
	display:inline;
	margin-right:3rem;
	color:white;
	font-family: 'PT Sans', sans-serif;
	text-transform:uppercase;
	font-size:2rem;
	font-weight:700;
}

a:link {
	color:white;
}

a:hover {
	color:blue;
}

a:visited {
	color:white;
}

.design-nav a:link {
	color:black;
}

.design-nav a:hover {
	color:blue;
}

.design-nav a:visited {
	color:black;
}

.laptop {
	position:absolute;
	z-index:4;
	background-color:blue;
	width:45.3%;
	height:42%;
	margin-top:-40.5%;
	margin-left:25.5%;
}

.portfolio {
	margin-top:10%;
}

.img-1 {
	background-color:black;
	height:300px;
	width:100%;
}

.img-2 {
	background-color:black;
	height:300px;
	width:100%;
}

.img-3 {
	background-color:black;
	height:300px;
	width:100%;
}

.port-margin {
	margin-top:50px;
}

